server:
  port: 9000

spring:
  liquibase:
    enabled: true
    change-log: classpath:db/changelog.xml

  datasource:
    url: jdbc:postgresql://localhost:5430/statistics-people-passage
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
    show-sql: true