#конфиг для клиентов микросервисов
microservice:
  excelProcessing:
    protocol: http
    host: localhost
    port: 8080
    path: /api/file

server:
  port: 9000

spring:
  liquibase:
    enabled: true
    change-log: classpath:db/changelog.xml

  datasource:
    url: jdbc:postgresql://localhost:5432/statistics-people-passage
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      auto-offset-reset: earliest
      group-id:
    topics:
      statistics:
        save-file: statistics-save-file